@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./assets/images/bg-image.png");
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  height: 100vh; /* Sets full viewport height */
  margin: 0;
  overflow-x: hidden;
}
